.bg-custom-blue {
    background-color: rgb(25, 71, 114);
}

.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}

.navbar-show {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}