:root {
    --baseColor: #194772;
}

.image-container {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}


.image-container img {
    width: 70%;
    height: auto;
    transition: box-shadow 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0); /* Brak cienia domyślnie */
    opacity: 1;
}

.image-container:hover img {
    box-shadow: 0 0 2vw var(--baseColor);
    opacity: 0.8; /* Zmniejszona przejrzystość */
}

.image-container:hover .magnifier-icon {
    display: block;
}

.magnifier-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 5vw;
    color: white;
    opacity: 50%;
}

.image-caption {
    text-align: center;
    color: white;
    background-color: var(--baseColor);
    opacity: 60%;
    padding: 10px;
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.navigation-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--baseColor);
    color: white;
    cursor: pointer;
    padding: 10px;
}

.navigation-button.left {
    left: 1%;
}

.navigation-button.right {
    right: 1%;
}
