.bg-custom-blue {
    background-color: rgb(25, 71, 114);
}

.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 1s ease-in-out;
}

.navbar-show {
    transform: translateY(0);
    transition: transform 1s ease-in-out;
}

.logo-container {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    margin-top: 2px;
    margin-bottom: 2px;
}

