@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');

@layer components {
    .submit-button, .login-button, .send-support-message-button {
        @apply bg-transparent border-blue-500 text-blue-500 font-semibold py-2 px-2 border rounded w-full
        hover:bg-blue-500 hover:text-white hover:border-transparent transition-all duration-300 ease-linear 
    }

    .swap-button {
        @apply font-semibold py-2 px-2 border border-blue-500 w-full text-blue-500
        transition-all duration-200 ease-linear h-12
    }

    .home-tooltip {
        @apply absolute p-2 m-2 top-6 left-20
        rounded-md shadow-md
        text-white bg-transparent border-white border
        text-sm font-bold
        transition-all duration-200 scale-0 origin-left
    }

    .navbar-logo {
        @apply bg-white p-1 rounded-[2vw] mx-2 my-2 hover:rounded-[1.3vw] transition-all ease-linear duration-200 w-[4vw]
    }

    .disabled {
        @apply opacity-50 cursor-not-allowed
    }
}

/* .bg-default {
    background-color: #194772;
} */

body {
    background-color: #194772;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

.gradient-bg {
    background: linear-gradient(0deg, rgb(131, 165, 219), rgb(25, 71, 114));
    height: 100vh;
    width: 100vw;
}

.gradient-bg-color-only {
    background: linear-gradient(0deg, rgb(131, 165, 219), rgb(25, 71, 114));
    width: 100vw;
}

.bg-original {
    background-color: #194772;
}

.bg-linear-top-bottom {
    background: linear-gradient(180deg, rgb(59 130 246 / 0.2), rgb(25, 71, 114));
}

option:hover {
    color: red;
}